body {
    width: 1120px;
    margin: 0 auto;
}

.img-container {
    display: flex;
    height: 506px;
    gap: 10px;
}

.main-img {
    width: 506px;
    height: 506px;
}

.main-img img{
    width: 506px;
    height: 506px;
    object-fit: cover;
}

.middle-imgs,
.end-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 245px;
    height: 506px;
}


.middle-imgs img,
.end-imgs img{
    width: 245px;
    height: 248px;
    object-fit: cover;
}
/* img {
    width: 250px;
    height: 250px;
    object-fit: cover;
} */


.details-container {
    display: grid;  
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 1220px;
}

h3 {
    padding: 20px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}


.details{
    height: 300px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header > button {
        width: 100px;
        height: 36px;
        background: #e41c64;
        border: none;
        border-radius: 8px;
        margin-top: 45px;
        color: white;
}



