* {
    font-family: sans-serif;
}


span {
    font-size: 22px;
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: var(--border);
    border-radius: 12px;
    padding: 15px;
}

.start-date:focus {
    outline: 2px solid black;
}

.dates > label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#reserve-btn, #delete-btn {
    width: 280px;
    height: 48px;
    background: var(--button-background);
    border: none;
    border-radius: 8px;
    margin: 16px 0;
    color: white;
}

.pricing-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid rgb(211, 211, 211);

}
#text {
    display: none;
}

.booking-container {
    box-sizing: border-box;
    border: var(--border);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(168, 61, 46, 1) 0px 5px 15px;
    ;
    /* margin-left: 80px; */
}