.bookingContainer {
    display: flex;
    flex-direction: column;
}

.bookingCardContainer {
    display: flex;
    width: 500px;
    height: 200px;
    background-color: white;
    margin: 30px;
}
.imgWrapper {
    width: 200px;
    height: 200px;
}
.imgWrapper img{
    width:100%;
    height:100%;
    object-fit: cover
}