/* TODO Add site wide styles */
:root {
    --button-background: #A83D2E;
    --border: 2px solid #A83D2E;
    --modal-background: #F8F8F7;
    --grey: #B1A9A8;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #1F0000;
    color: #B1A9A8;
}

/* button {
    background-color: #A83D2E;
} */