/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --main: #ff385c;
    --main-border: 2px solid #ff385c;
    --grey-border: 2px solid #dad4d3;
    --background: white;
    --grey: #B1A9A8;
}

* {
    box-sizing: border-box;
}
/* body {
    background-color: white;
    color: #B1A9A8;
    width: 100vw;
} */

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
padding: 0;
}
/* button {
    background-color: #A83D2E;
} */