#form-wrapper {
    width: 562px;
    height: 56px;
}
#form-header {
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 16px;
}

#form-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 32px;
}

 #form-title {
    font-size: 22px;
    margin: 0 0 8px;
    padding: 0;
    border: none;
}
#input-container {
    border-radius: 8px;
    border: var(--main-border);
    width: 502px;
    background-color: var(modal-background);
    margin-bottom: 32px;
}

.form-input {
    box-sizing: border-box;
    padding: 26px 36px 10px 12px;
    background-color: var(modal-background);
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 8px;
}
.form-input:first-child{
    margin-bottom: 2px;
}
.form-input:focus {
    outline: 2px solid black;
}

hr {
    margin: 0;
    padding: 0;
}

#form-content > button {
    width: 502px;
    height: 48px;
    background: var(--main);
    border: none;
    border-radius: 8px;
    margin-bottom: 16px;
    color: white;
}

#log-in {
    background-color: white;
    border: var(--main-border);
    width: 75px;
    height: 40px;
    border-radius: 20px;
}
